<head>
  <%= javascript_include_tag("order.js") %>
</head>

<body>
  <h1 id="head">발주하기</h1>
    <script> var id_num = 0; </script>
    <form action = "/receipt/index" method = "post" onsubmit = "return send()">
      <input type='hidden' value='<%= form_authenticity_token %>' name = 'authenticity_token'></input>
      <% for i in 0..(@value.length/4)-1 %>
        <label><%= @showValue[4*i+1] %>의 </label>
        <label><%= @value[4*i+3] %></label>
        <lable>개수</label>
        <input type = 'number' name = <%= @value[4*i+3] %> id = <%= i %>></input></br>
        <input type = "hidden" value = <%= @value[4*i+1] %> id = <%= i+10000 %>></input>
        <script>
          id_num++;
        </script>
        <% end %>
      <br/>
      <script>
        for(var i = 0; i < id_num; i++ ){
          namePush(document.getElementById(i).name);
          shopPush(document.getElementById(i+10000).value);
        }
      </script>
      <input type = "hidden" name = "shopInfo" id = "shop"></input>
      <input type = "hidden" name = "buyInfo" id = "info"></input>
      <input type = "submit" value = "발주하기"></input>
    </form>


 <%= params %>
</body>