<head>
  <script>
    Date.prototype.yyyymmdd = function() {
      var mm = this.getMonth() + 1; // getMonth() is zero-based
      var dd = this.getDate();
    
      return [this.getFullYear(),
              (mm>9 ? '' : '0') + mm,
              (dd>9 ? '' : '0') + dd
            ].join('');
    };
    
    var date = new Date();
    var orderList = [];

    function writeUserData(userEmail) {
      var newdate = date.yyyymmdd();

      for(var i = 0; i<orderList.length; i++){
        firebase.database().ref('users/' + userEmail + '/' + newdate ).push(orderList[i]);
      }
    }
    
    makeList = function(name,amount){
      var newList = {와인: name, 개수: amount};
      orderList.push(newList);
      alert(newList.와인);
    };
    
  </script>
</head>
<body>
  <h1>결제확인</h1>
  <% for i in 0..@list.length-1 %>
    <%= @list[i] %>을 <%= @amount[i]%>개 구입하였습니당~<br/>
    <input type = 'hidden' value = '<%= @list[i] %>+<%= @amount[i]%>' id = <%= i %>></input>
    <script>
      makeList('<%=@list[i]%>',<%=@amount[i]%>);
      console.log(document.getElementById(<%=i%>).value);
    </script>
  <% end %>
  <script>
    writeUserData("ehdrbchd");
  </script>
</body>