<p id="notice"><%= notice %></p>

<h1>Drinkin</h1>
      <!-- nav바로 옮길 내용 -->
<ul>
  <li><a href = "/faqs/index">FAQ를 보고싶어?</a></li>
  <li><a href = "/tutorials/index">어떻게 이용하는지 알고싶어?</a></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.nickname %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Post', new_post_path %>
