<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @post.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<hr/><br/>

<h4>댓글 보자 ㅎㅅㅎ</h4>
<% @comment.each do |c| %>
  작성자(<%= c.user %>) | 내용 : <%= c.content %> <a href = "/posts/show/<%=@post.id%>/comments/destory/<%=c.id%>">[삭제ㄱㄱ]</a><br/>
<% end %>

<h4>댓글 달래?</h4>
<form action = "/posts/show/<%=@post.id%>/comments/create" method = "post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  작성자 : <input type = "text" name = "comment_user"><br/>
  내용 : <textarea name = "comment_content" rows = "8" cols = "40"></textarea><br/>
  <input type = "submit" value = "저장할래?">
</form>