<!DOCTYPE html>
<html>
  <head>
    <title>DrinkIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" >
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

  </head>
   <header class="header">

    <div class="logo">
      <%# <%= link_to (image_tag("NewCaulogo.png", size:"110x35", :alt => "rss feed")), "/", :class => "logo-link" %> 
    </div>

    <div class="header-item-container">
      <nav class="navigation">
        <!--<%# <%= image_tag ('menu.png'), :id => "menu-icon" %>--> 
        <ul>
          <li><%= link_to 'Home', root_path, :class => "link nav-link" %></li>
          <li><%= link_to 'Contact', root_path, :class => "link nav-link" %></li>

          <% if user_signed_in? %>
              <li><%= current_user.email %> 님</li>
              <li><%= link_to '로그아웃', destroy_user_session_path, method: :delete, :class => "link nav-link" %></li>
              <%# <li><%= link_to "Roles : " + user_roles(current_user), '#', :class => "link nav-link"%></li> 
          <% else %>
            <li><%= link_to '회원가입', new_user_registration_path, :class => "link nav-link" %></li>
            <li><%= link_to '로그인', new_user_session_path, :class => "link nav-link" %></li>
          <% end %>

          <li><a href = "/intro/index">이용안내</a></li>
          <li><a href = "/order/index">주문하기</a></li>
          <li><a href = "/faqs/index">FAQ</a></li>
          <li><a href = "/tutorials/index">튜토리얼</a></li>
        </ul>
      </nav>
    </div>

  </header>
  
  <body>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
